html
	head
		meta(charset='utf-8')
		meta(name='x-apple-disable-message-reformatting')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='x-apple-disable-message-reformatting')
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,900', rel='stylesheet')
	body(bgcolor='#F1F6F9', style='margin: 0px; padding: 0px')
		div(style='color: #000; font-family: Roboto, Verdana, sans-serif; font-weight: 400; width:100%;', align='center')
			table(bgcolor='#2421A6', cellpadding='0', cellspacing='0', style='margin-top: 50px;margin-bottom: 50px;border-collapse: collapse;max-width: 550px !important;min-width: 550px;width:550px !important;margin-right:auto;margin-left:auto;background-color: #2421A6;', width='550',)
				tbody
				tr
					td(bgcolor='#2421A6')
						p(style='margin-top: 50px; margin-right: 0; margin-left: 0; margin-bottom: 60px; padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;', align='center')
							span(style='margin-top: 0; margin-right: 0; margin-left: 0;margin-bottom: 0; padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;')
							img(src='https://private.4quiz.org/img/4quiz_logo_white.svg', alt='${domain} logo', width='200', style='display: block;')
				tr
					td(bgcolor='#2421A6')
						p(style='margin-top: 0;margin-right: 0;margin-left: 0;margin-bottom: 45px;padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;font-size: 20px;line-height: 28px;letter-spacing: 0.08em;color: #fff;', align='center')
							| Dear friend
				tr
					td(bgcolor='#2421A6')
						div(style='margin-left: auto;margin-right: auto;margin-bottom: 50px;', align='center')
							span(style='margin-top: 0;margin-right: 0;margin-left: 0;margin-bottom: 0;padding-top: 15px;padding-right: 50px;padding-bottom: 15px;padding-left: 50px;font-size: 14px;line-height: 24px;letter-spacing: 0.15em;color: #fff;') For start the test follow the link below. Link will be active next 24 hour.
				tr
					td(bgcolor='#2421A6')
						div(style='margin-left: auto;margin-right: auto;margin-bottom: 80px;', align='center')
							span
							a(href=links, style='margin-top: 0;margin-right: 0;margin-left: 0;margin-bottom: 0;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;font-size: 16px;line-height: 24px;letter-spacing: 0.15em;color: #fff;padding: 20px 30px;text-decoration: none;background: #f59228;border-radius: 40px;', align='center') Start

